# Page Visits Funnel

#### Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

#### In this case, our funnel is going to describe the following process:

    A user visits CoolTShirts.com
    A user adds a t-shirt to their cart
    A user clicks “checkout”
    A user actually purchases a t-shirt

In [1]:
import pandas as pd

Import all the files

In [2]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head` <br>

    - visits lists all of the users who have visited the website
    - cart lists all of the users who have added a t-shirt to their cart
    - checkout lists all of the users who have started the checkout
    - purchase lists all of the users who have purchased a t-shirt

In [3]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Combine visits and cart using a left merge.

In [4]:
visits_cart = pd.merge(visits, cart, how='left')

Step 3: How long is `visits_cart`?

In [5]:
len(visits_cart)

2000

Step 4: How many of the timestamps are null for the column cart_time?

What do these null rows mean?

In [6]:
#visits_cart[visits_cart['cart_time'].isnull()]
len(visits_cart[visits_cart['cart_time'].isnull()])

1652

Step 5: What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.

In [7]:
percent_not_cart = (float(len(visits_cart[visits_cart['cart_time'].isnull()]))/float(len(visits_cart))) * 100
print(str(percent_not_cart) + '%')

82.6%

Step 6: Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?

In [8]:
visits_to_checkout = pd.merge(visits_cart, checkout, how='left')
#visits_to_checkout.head()
percent_not_checkout = (float(len(visits_to_checkout[visits_to_checkout['checkout_time'].isnull() & visits_to_checkout['cart_time'].notnull()]))/float(len(visits_to_checkout[visits_to_checkout['cart_time'].notnull()]))) * 100
print(str(percent_not_checkout) + '%')

35.05747126436782%

Step 7: Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.

Examine the result using print and head.

In [9]:
all_data = pd.merge(visits_to_checkout, purchase, how='left')
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

Step 8: What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [10]:
percent_not_purchase = (float(len(all_data[all_data['purchase_time'].isnull() & all_data['checkout_time'].notnull()]))/float(len(all_data[all_data['checkout_time'].notnull()]))) * 100
print(str(percent_not_purchase) + '%')

24.550898203592812%

Step 9: Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

How might Cool T-Shirts Inc. change their website to fix this problem?

In [11]:
print(str(percent_not_cart) + '% of users did not put a shirt in their cart')
print(str(percent_not_checkout) + '% of users did not proceed to checkout after adding to their cart')
print(str(percent_not_purchase) + '% of users did not purchase the shirt after checkout')

82.6% of users did not put a shirt in their cart
35.05747126436782% of users did not proceed to checkout after adding to their cart
24.550898203592812% of users did not purchase the shirt after checkout

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase. Add a column that is the difference between purchase_time and visit_time.

In [12]:
all_data['avg_purch_time'] = all_data['purchase_time'] - all_data['cart_time']

Step 11: Examine the results by printing the new column to the screen.

In [13]:
all_data[all_data['checkout_time'].notnull()].head(10)

,user_id,visit_time,cart_time,checkout_time,purchase_time,avg_purch_time
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:24:00
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00,0 days 00:28:00
31,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00,2017-03-17 11:58:00,NaT,NaT
48,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:02:00,0 days 00:24:00
49,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:21:00,0 days 00:43:00
54,dc5d8fe9-3321-4c86-b66d-7c343decdc4a,2017-09-13 13:06:00,2017-09-13 13:30:00,2017-09-13 13:26:00,NaT,NaT
65,ab0125fc-9493-4f59-ad70-24ad264a3a0c,2017-11-18 03:21:00,2017-11-18 03:33:00,2017-11-18 03:57:00,2017-11-18 04:21:00,0 days 00:48:00
70,ba65fa41-b88f-4ebc-8e66-7ade432f4f0d,2017-05-14 11:01:00,2017-05-14 11:21:00,2017-05-14 11:32:00,2017-05-14 11:35:00,0 days 00:14:00
71,ba65fa41-b88f-4ebc-8e66-7ade432f4f0d,2017-05-14 11:01:00,2017-05-14 11:21:00,2017-05-14 11:32:00,2017-05-14 11:36:00,0 days 00:15:00
72,ba65fa41-b88f-4ebc-8e66-7ade432f4f0d,2017-05-14 11:01:00,2017-05-14 11:21:00,2017-05-14 11:32:00,2017-05-14 11:54:00,0 days 00:33:00

Step 12: Calculate the average time to purchase by applying the .mean() function to your new column.

In [15]:
all_data['avg_purch_time'].mean()

Timedelta('0 days 00:28:49.761904761')